@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
/*universal styles*/
body{
    background-color: #f5efeb;
}
h1{
    color: #7696d1;
    font-size: 40px;
}
/*header styles*/
header{
    display: flex;
    flex-directions: row;
    justify-content: space-evenly;
}
.logo{
    margin-left: -15rem;
    margin-top: -6.5rem;
    height: 20rem;
    width: 20rem;
}
button{
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: #7696d1;
    cursor: pointer;
    display: inline;
    font-size: 30px;
    margin-left: -75px;
    margin-top: 2rem;
}
img{
    height: 100%;
    width: 100%;
}
.dropdown{
    display: inline-block;
}
.dropdown a{
    color: black;
    display: block;
    font-size: 20px;
    padding: 10px 15px; 
    text-decoration: none;
}
.dropdown .item{
    background-color: #7696d1;
    border-radius: 20px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0.8);
    display: none;
    margin-left: -10rem;
    min-width: 150px;
    position: absolute;
}
.dropdown:hover .item{
    display: block;
}
.dropdown::hover button{
    rotate: 90deg;
}
.dropdown::hover a{
    color: #f5efeb;
}
