@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*universal styles*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  scroll-behavior: smooth;
}
body{
    background-color: #4B494D;
    color: #eae2e4;
    font-family: "Nunito", sans-serif;
}
.section_container{
  margin: auto;
  max-width: 1200px;
  padding: 5rem 1rem;
}
.section_header{
  color: #e8d3c1;
  font-size: 2.5rem;
  font-weight: 800;
  isolation: isolate;
  margin-inline: auto;
  padding-bottom: .5rem;
  position:relative;
  text-align: center;
  width: fit-content;
}
.section_header::before{
  background-color: #2f80e4;
  bottom: 0;
  content: "";
  height: 2px;
  left:0;
  position: absolute;
  width: 3rem;
}
.btn{
  background-color: #1e5dac;
  border: none;
  color: #e8d3c1;
  cursor: pointer;
  outline: none;
  padding: 1rem 2rem;
  transition: .3s;
}
.btn:hover{
  background-color: #e8d3c1;
  color: #1e5dac;
}
img{
  display: flex;
  width: 100%;
}
a{
  text-decoration: none;
  transition: .3s;
}
ul{
  list-style: none;
}
/*universal end*/

/* Navigation start*/
nav{
  isolation: isolate;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.navheader{
  background-color: #b7c5da;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navlogo img{
 
  max-width: 140px;
}
.navmenu-btn{
  color: #e8d3c1;
  cursor: pointer;
  font-size: 1.5rem;
}
.navlinks{
  align-items: center;
  background-color: #b7c5da;
  bottom:0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content:center;
  left: 0;
  padding: 2rem;
  position: absolute;
  transition: transform .5s;
  width: 100%;
  z-index: -1;
}
.navlinks.open{
  transform: translateY(100%);
}
.navlinks a{
  color: #e8d3c1;
  font-weight: 900;
}
/* Navigation end*/
/*section start*/
.header_container{
  display: grid;
  overflow: hidden;
  padding-block: 0;
}
.header_content{
  padding-block: 0 5rem;
}
.header_content h1{
  color: #2f80e4;
  font-family: "Laila", serif;
  font-weight: 700;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}
.header_content h2{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
.header_btn{
  text-align: center;
}
/*section about start*/
.about_container{
  display: grid;
  gap: 2rem;
  overflow: hidden;
}
.about_image img{
  margin-inline: auto;
  max-width: 500px;
}
.about_content .section_header{
  margin-bottom: 2rem;
}
.about_content p{
  line-height: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
}
.about_btn{
  margin-top: 4rem;
  text-align: center;
}
/* about end*/
/* portfolio start*/
.portfolio_grid{
  display: grid;
  gap: 1rem;
  margin-top: 4rem;
}
.portfolio_grid > div{
  display: grid;
  gap: 1rem;
}
/*portfolio end*/
/*footer start*/
.footer_container{
  display: grid;
  gap: 4rem;
}
.footer_col .section_header{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-inline-start: unset;
}
.footer_col p{
  color: white;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.footer_socials{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
 
}
.footer_socials a{
  border-radius: 90%;
  color: #e8d3c1;
  font-size: 1.75rem;
  padding: 5px 9px;
}
.footer_socials a:hover{
  background-color: #e8d3c1;
  color: #2f80e4;
}
.footer_bar{
  color: white;
 padding: 1rem;
 text-align: center;
}
/*footer end*/

/*media queries*/
@media (width > 540px){
  .header_content h1{
    font-size: 4.75rem;
  }
  .portfolio_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio_grid > div:nth-child(3){
    grid-column: 1/3;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px){
  nav{
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    left: 50%;
    max-width: 1200px;
    padding: 2rem 1rem;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
  }
  .navheader{
    background: transparent;
    flex: 1;
    padding: 0;
  }
  .navmenu-btn{
    display: none;
  }
  .navlinks{
    background: transparent;
    color: #d44720;
    flex-direction: row;
    padding: 0;
    position: static;
    transform: none !important;
    width: fit-content;
  }
  .navlinks a:hover{
    color: #e9a752;
  }
  .header_container{
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    isolation: isolate;
  }
  .header_image{
    grid-area: 1/2/2/3;
    height: 100%;
    position: relative;
  }
  .header_image img{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width:unset;
    z-index: -1;
  }
  .header_content{
    padding-block: 10rem;
  }
  .header_content :is(h1, h2, .header_btn){
    text-align: left;
  }
  .header_content h1{
    font-size: 5rem;
  }
  .about_container{
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .about_content{
    margin-inline: auto;
    max-width: 450px;
  }
  .about_content .section_header{
    margin-inline: unset;
  }
  .about_content :is(p, .about_btn){
    text-align: left;
  }
  .portfolio_grid{
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio_grid >div:nth-child(3){
    grid-column: unset;
    grid-template-columns: 1fr;
  }
  .footer_container{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width > 1024px){
  .header_content {
    padding-block: 15rem 13rem;
  }
  .portfolio_grid, .portfolio_grid > div{
    gap: 1rem;
  }
}